

.rodape{
    background-color: yellow;
    box-sizing: border-box;
    border: solid 5px red;
}

.painel{
    background-color: blanchedalmond;
}

.nome-loja{
    color: aquamarine;
    margin: 20px;
    padding: 20px;
    text-align: center;
}


.loja1{
    margin: 30px;
    text-align: center;   
}

.cabecalho{
    background-color: black;
    font-size: 25px;
}

.menu{
    padding: 0;
    background-color: black;
    text-align: right;
}

.menu a{
    text-decoration: none;
    display: block;
    background-color: #ccc;
    padding: 5px;
}

.menu li{
    text-decoration: none;
    display: inline-block;

}

.menu a:hover{
    background-color: darkblue;
     color: white;
}

.missao-loja{
    margin: 20px;
    color: red;
    text-align: center;   
}

.link-externo{
    margin: 15px;
    list-style: none;

}

.frase-logo{
    color: #ff02f2;
    text-align: center;
}




